{% extends "base.html" %}

{% block head %}
<title>About Me</title>
<style>
    html,
    body {
        overflow-x: clip;
        scroll-behavior: smooth;
    }

    [id] {
        scroll-margin-top: 70px;
    }

    .phrog {
        border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAACV0lEQVR4Aezay27CMBCFYVqx5JFZ9pG7rNQqWQA+lj2d+Djc/kogjO3J+MtolEp8HvizCgBq5TwcAAXULGAOF1bo8Xz6zbzM+U0PlznbsjZKKASNAjBfCgBaegyPAB0mLANUoEufuH39fH1/ZF63e5/hc+Zsy1o9U8nJY5N6DI+rCh2O+OYBADUXQBr0eD4Vz6VRPkvfeaRXlG/UI6P9adAo4LvPA2quAEDvDar90JzP3cONno8KNd9CQAE1C5jDVRWqPUSfy6Kx7jfnOxxO84vOo/O6XxOqQHUB45wAoDmvcDWgIVFuQRpUe4iOG5e/fK09afb4cuHGB81fx41tza/ToM1ITKwCgK4MvjdAfZZrpOmg2iO1R80e6/XXU098mw46MfeHDA2o+bYACqhZwByOCgXULGAOR4W+Eaj5qPuEo0LNzoACahYwh6NCATULmMNRoYCaBczhqFBAzQLmcFQooGYBc7hXq1AzTz4coHmz7g5Auzz5SUDzZt0dgHZ58pOA5s26OwDt8uQnAc2bdXdMB9XfLulvjWaP9fpdDcPkdFBDjk8VAlDz7QL03qDa87L5aE+bPf5HfsWS0fNRoQXn+ADQccMiAqAFx/igAtUeEvU4XT+e0r4RNP/R81ag+x7n9a4GqPmeAvpooNpzzPlND+fOnwo13zJAATULmMNRodtAm7sAbdJsmwB0m1tzF6BNmm0Tn9H/stvCXndp/OvMPp/c19fnVo1PhZrvK6CAmgXM4aoK1Z4wOtZ8R+Nl98++vsavQHUB45wAoDmvcDWgIVFuwR8AAAD//8dKdCcAAAAGSURBVAMA9XOScqwRo3oAAAAASUVORK5CYII=') 28 / 28px / 0 round;
        border-width: 28px;
        border-style: solid;
        background-color: rgba(0, 128, 0, 0.604);
    }
</style>
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#1">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#2">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#3">Recreational Hobbies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#4">Creative Hobbies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#5">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#6">Contact me</a>
                </li>
                <li class="nav-item ms-auto">
                    <button class="btn btn-sm btn-outline-secondary  " id="themeToggle">
                        Dark/Light Mode
                    </button>
                </li>
        </div>
    </div>
</nav>

<div class="card text-bg-dark mb-3">
    <h1 class="card-title" style="text-align: center;">I'm Ayaan, Nice to meet you!</h1>
    <p class="lead" style="text-align: center;">C# Developer | Unity Game Programmer | Python Enthusiast</p>
</div>
<h1 class="card-title" style="text-align: center;" id="1">About Me</h1>
<h5 style="text-align: center;">I’m a developer passionate about using technology to tell stories and solve problems. My
    favorite uses of tech lies in how technology can be used to express one’s creativity.
</h5>
<h5 style="text-align: center;">When I was younger, my parents placed me into a class for robotics, these classes were
    something I enjoyed, using simple robotics concepts to solve challenges. Then Covid-19 hit, I couldn’t go to these
    classes anymore since they were in person, that led me to taking classes in software development. These beginner
    level coding classes led me to taking a course for Unity, where I learned to make my own games. This is what
    triggered my love for software development. Since then, I’ve taken a Python course and an AI developer course. Other
    than taking courses, I’ve pursued learning on my own, like making my own old internet style website using html.
</h5>

<h1 class="card-title" style="text-align: center;" id="2">My Projects</h1>
{% for project in project_list %}
<div class="row justify-content-md-center">
    <div class="col-md-6 mb-4">
        <div class="card h-100 project-card">
            <div class="card-body">
                <h5 class="card-title text-primary" style="text-align: center;">{{ project.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">{{ project.language }}
                </h6>
                <img src="{{ url_for('static', filename=project.image) }}" class="d-block mx-auto img-fluid mb-3"
                    style="max-height: 200px; width: auto;">
                <p class="card-text" style="text-align: center;">{{ project.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{ project.github }}" class="btn btn-dark btn-sm">View GitHub</a>
                    <a href="{{ project.itchio }}" class="btn" style="background-color: #fa5c5c; color: white;">View
                        Itch.Io</a>
                    <span class="badge bg-secondary">ID: {{ project.id }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<h1 class="card-title" style="text-align: center;" id="3">Recreational Hobbies</h1>
<h5 style="text-align: center;"> When I want to just lay back and relax, I love to go out into nature. While I'm out
    there in forest or river, I love to do some hiking, fishing, nature journaling, and finding critters for my <a
        href="https://www.inaturalist.org/people/6571388">Inaturalist</a>. When I'm not out in nature, I also enjoy
    reading books.
</h5>
<h1 class="card-title" style="text-align: center;" id="4">Creative Hobbies</h1>
<h5 style="text-align: center;">I also love to spend my time in creating things and expressing my creativity through
    different mediums. My hobbies that I use to express my creativity is sculpting and writing. Below are my 3 favorite
    sculptures that I've made.
</h5>
<div class="row align-items-center">
    <div class="col-12 col-md-4 mb-3">
        <img src="{{ url_for('static', filename='mimic.jpg') }}" class="img-fluid rounded mx-auto d-block"
            alt="failedMimic">
    </div>
    <div class="col-12 col-md-4 mb-3">
        <img src="{{ url_for('static', filename='mahoraga.jpg') }}" class="img-fluid rounded mx-auto d-block"
            alt="mahoraga">
    </div>
    <div class="col-12 col-md-4 mb-3">
        <img src="{{ url_for('static', filename='godzilla.jpg') }}" class="img-fluid rounded mx-auto d-block"
            alt="godzilla">
    </div>
</div>
<h1 class="card-title" style="text-align: center;" id="5">Skills</h1>
<div class="row justify-content-center">
    <div class="col-6 col-sm-4 col-md-2">
        <div class="phrog">
            <img src="{{ url_for('static', filename='c#.png') }}" class="d-block mx-auto img-fluid mb-3"
                style="width: 60px; height: auto;">
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="phrog">
            <img src="{{ url_for('static', filename='html.png') }}" class="d-block mx-auto img-fluid mb-3"
                style="width: 60px; height: auto;">
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="phrog">
            <img src="{{ url_for('static', filename='python.png') }}" class="d-block mx-auto img-fluid mb-3"
                style="width: 60px; height: auto;">
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="phrog">
            <img src="{{ url_for('static', filename='java.png') }}" class="d-block mx-auto img-fluid mb-3"
                style="width: 60px; height: auto;">
        </div>
    </div>

    <div class="col-6 col-sm-4 col-md-2">
        <div class="phrog">
            <img src="{{ url_for('static', filename='unity.png') }}" class="d-block mx-auto img-fluid mb-3"
                style="width: 60px; height: auto;">
        </div>
    </div>
</div>
<h1 class="card-title" style="text-align: center;" id="6">Contact me</h1>
<h5 style="text-align: center;">
    If you wish to email me, you can do so at jilaniayaan2@gmail.com. Here's my <a
        href="https://github.com/jilaniayaan2-netizen">Github</a> and my <a
        href="https://rainy-studios.itch.io/">Itch.Io</a>.
</h5>

{% endblock %}